[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

lxml = "*"
click = "*"
grequests = "*"
ujson = "*"


[requires]

python_version = "3.5"


[dev-packages]

bpython = "*"
requests = ">=2.20.0"
snakeviz = "*"
pycodestyle = "*"
